body {
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
    background-color: grey;
}
.title {
    margin: 0;
    width: 100%;
}
.img {
    width: 300px;
    border: 25px solid rgb(58, 58, 58);
    border-radius: 50%;
}