.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.head {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    font-size: 8em;
    text-align: center;
}
.img {
    grid-column: 1/2;
    grid-row: 1/2;
}
.cherries {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: gray;
    color: rgb(231, 61, 61);
    font-size: 3em;
    display: flex;
    align-items: flex-end;
}